img,video{height: 100%;width: 100%;object-fit: cover;}

/*pool*/
.pool-area{position: fixed;}
.pool-band{position: fixed; background-color: #111111;}
.pool{
    position: relative;display: none; margin-bottom: 20px;width: 12vw;aspect-ratio: 2;padding: 0;
}
/*description*/
.activity-area{
    position: fixed;top: 10vh; aspect-ratio: 1.8; right: 50px; max-height: 80vh;
}
.activity-title{
    position: fixed;top: 9vh; height:30px; background-color: blueviolet;
    border-radius: 15px 0px 30px 15px;padding: 0px 15px;
}
/*gacha*/
.gacha-area{
    position: fixed;top: 85.5vh;right: 50px; bottom: 7vh; width: auto ; 
}
.gacha{
     display: inline-block;margin-left: 50px; height: 100%;border-radius: 3.75vh; width: 200px;max-width: 34vw; background-color: brown;
     text-align: center;line-height: 7.5vh;
}

/*stone*/
.stone{position: fixed;top: 0px;right: 0px;height: 7vh;}
.source{
    margin-top: 5px;margin-right: 5px; height: 100%;
    border-radius: 3.5vh; width: 150px;background-color: cornflowerblue;
    text-align: center;line-height: 7vh;
}
.add-source{
    position: absolute; right: 2vh;top: 2vh;height: 5vh;aspect-ratio: 1;border-radius: 2.5vh;
}

@media (max-width:700px) {
    .activity-area{left: 50px;top: 80px;}
    .activity-title{left: 40px;top: 70px;}
    .pool-band{height: 20px;width: 100vw;left: 0vw;top: 3vw ;}
    .pool-area{top: 2vh;left: 0px; width: 100vw;height: auto;}
    .pool:nth-child(2){display:inline-block;left: 44vw;}
}

@media (min-width:700px) {
    .activity-area{left: 20vw;}
    .activity-title{left: calc(20vw - 10px);}
    .pool-band{height: 100vh;width: 50px;top: 0vh;left: calc(6vw + 25px);}
    .pool{display: block;}
    .pool-area{top: 15vh;left: 50px; height: 80vh;width: 150px;}
}
/*color*/
body{background-color: black;color: white;}