img,video{height: 100%;width: 100%;object-fit: cover;}
#genshin{position: fixed;z-index: 100;}
button, input{border: 0;}
*{font-family: "genshin";}
@keyframes scalesIn{from{scale:1.1;}to{scale:1.2;}}
@keyframes scalesOut{from{scale:1.2;}to{scale:1.1;}}
a{text-decoration: none;color: unset;}
@font-face {
    font-family: 'genshin';
    src: url(../font/ZH-CN_0.TTF);
}

/*welcome*/
.welcome{z-index: 10;position: fixed;inset: 0;}
.welcome-logo{position: relative;display: inline-block; top:100px; width: 7vw;height: calc(7vw + 20px); margin: 5vh 4vw;}
#welcome-img,.welcome-img{position: absolute; height: 7vw; width: 100%;border-radius: 10px;}
#welcome-txt,.welcome-txt{position: absolute;top: 7vw;left: -2vw; width: 11vw;text-overflow: ellipsis; text-wrap: nowrap;overflow: hidden;
     margin: 0px;margin-top: 5px; text-align: center;font-family: "Microsoft JhengHei UI";}
#welcome-video{position: absolute; display: none;width: 100vw;left: 0px;}
.welcome input{position: absolute;top: 50px;height: 50px;width: 80vw;left: 10vw;
    border-radius: 25px;margin: auto; padding-left:50px; font-size: 25px;font-family: "Microsoft JhengHei UI";}
#welcome-search img{position: absolute;top: 50px;width: 50px; height: 50px;left: 10vw;border-radius: 10px;}
.welcome-background{position: absolute;left: 0;}
.bckgrd-btn{position: absolute;right: 0px;bottom: 0px;opacity: 0.1;}
.bckgrd-btn:hover{opacity: 0.3;}

.welcome-logo:hover {animation: 0.2s scalesIn   forwards;}
.welcome-logo       {animation: 0.2s scalesOut  forwards;}

/*color*/
body{background-color: black;color: white;}
.result,.source{background-color: #111111}
.pool-band{background-color: #111111aa;}
.pool-band{border-color:#f5deb3aa;}
.activity-title{ background-color: #478fca;}
.source{color: aliceblue;}
.stone-icon,.card{background-color: #11111100;}
.activity-area h3{background-color: #478fcacc;}
