/*setting*/
@font-face{
    font-family: 'ChenYuluoyan';
    src: local("ChenYuluoyan"),url(../font/ChenYuluoyan-Thin.ttf);
}
@font-face{
    font-family: 'Tormentor';
    src: local("Tormentor"),url(../font/Tormentor/Tormentor-Regular.ttf);
}
@font-face{
    font-family: 'Noto Sans TC thin';
    src: local("Noto Sans TC thin"),url(../font/思源黑體/NotoSansTC-Thin.otf);
}
::-webkit-scrollbar{display: none;}
a{ text-decoration: none;}
body{margin: 0px;font-family: "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;}

/*main*/
main{position: relative; top: 100vh;}
article{position: relative;width: 100%; display: inline-block;}
article h1{
    position: relative; text-align: center;width: 80%;max-width: 700px;margin: auto; margin-top: 20px; margin-bottom: 20px; min-height: 60px;
    line-height: 60px;border-radius: 10px;word-wrap: break-word;
}
.infos{position: relative;width: calc(7vw + 7vh);margin-bottom: calc(1.5vh + 1.5vw);
    display: inline-block;font-size: calc(1vw + 1vh);}
.infos img{position: relative; width: calc(5vh + 5vw); height: calc(5vh + 5vw);
    margin: calc(1vh + 1vw);margin-bottom: calc(2vh + 2vw); border-radius: calc(0.5vh + 0.5vw);}
.infos span{position: absolute; left: 0px;right: 0px; bottom: 0px;margin-left: 5px;margin-right: 5px;
     text-align: center;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;} 
@keyframes scalesIn{from{scale:1.1;}to{scale:1.4;}}
@keyframes scalesOut{from{scale:1.4;}to{scale:1.1;}}
@keyframes scalesIn2{from{scale:1.1;}to{scale:1.2;}}
@keyframes scalesOut2{from{scale:1.2;}to{scale:1.1;}}
article section{display: none;position: relative;left: 0px;right: 0px;text-align: center;}
article iframe,article video{position: relative;bottom: 0px; width: 40vw;min-height: 30vw;border: 0px;}
article img{position: relative;bottom: 0px; width: 40vw;border: 0px;left: 30vw;}
article section img:hover{animation-duration: 0.2s;animation-name: scalesIn;animation-fill-mode:forwards;}
article section img{left: 0px; animation-duration: 0.2s;animation-name: scalesOut;animation-fill-mode:forwards;}
article h1:hover{animation-duration: 0.2s;animation-name: scalesIn2;animation-fill-mode:forwards;}
article h1{animation-duration: 0.2s;animation-name: scalesOut2;animation-fill-mode:forwards;}
article p{position: relative; width: 50vw;left: 25vw;font-weight: lighter;font-style: italic;}
main h4{position: relative;margin: 0;height:80px;line-height: 80px;text-align: center;font-size: large;}

/*welcome pic*/
.welcome{position: absolute;left: 0px;right: 0px; top: 0px;bottom: 0px;}
.welcome{position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;}
.welcome h1{position: relative; left: 20%;top: calc(50% - 2.5vw); transform: translate(0%,-50%);width: 60%; 
    text-align: justify;text-align-last:justify;font-family:"Noto Sans TC thin";font-size: 5vw;font-weight:bolder;font-stretch: extra-condensed;}
.welcome video{position: fixed;right: 0px;}
.welcome section{position: absolute;left: 0px;right: 0px; bottom: 0%;}
.welcome h2{ position: relative;left: 15px;overflow: hidden;opacity:0;
     font-family: 'chenyuluoyan';font-size: xx-large; font-weight: initial;}
@keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@keyframes fadeOut{from{opacity: 1;}to{opacity: 0;visibility: hidden;}}
@media screen and (max-height:56vw){
    .welcome video{width: 100%;}
}
@media screen and (min-height:56vw){
    .welcome video{height: 100%;}
}
/*footer*/
footer{position: relative;margin-top: 50px; height: 500px; font-family: 'chenyuluoyan';font-size: 25px;}
footer h3{text-align: center;}
footer p{font-weight: bold;}
footer ul{position: absolute;width: fit-content;}
footer ul:nth-child(1){left: 0px;}
footer ul:nth-child(2){left:50%;}

/*color*/
a{color: wheat;}
article p{color:honeydew;}
article h1{background-color: rgba(255, 255, 255, 0.1)}
body{background-color: rgba(0, 0, 0, 1); color: wheat;}
article h3{border-color: wheat;}
main{background-color: rgba(0, 0, 0, 0.4);}
.welcome section{background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.4));}
footer a,footer{color: #0d417d;}
footer{background: linear-gradient(143deg,pink 0%,skyblue 50%,lime 100%);}