/*setting*/
::-webkit-scrollbar{display: none;}
a{ text-decoration: none; }
*{font-family: "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;}

/*header*/
h1{border-bottom: 5px solid;}

/*aside*/
aside{position: absolute;top: 0px;}
aside span{position: relative;top: 40px; margin: 5px;width: 50px;right: calc(250px - 100vw);}

/*main*/
.intro article h2{position: relative; margin: 0%;border-bottom:5px solid;width: calc(82vw - 18vh - 30px);}
.intro article{position: relative;}
.intro article{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:normal;}
.intro article img{width: 100%; border-radius: calc(1vw + 1vh - 5px);}
.pic{position: relative; width: calc(18vw + 18vh);margin:10px;}
.intro article:nth-child(4n+1) .pic{float: right;}
.intro article:nth-child(4n-1) h2{left: calc(20px + 18vw + 18vh);min-width: max-content;}
.intro article:nth-child(4n-1) i{position: relative; left: calc(-10px - 18vw - 18vh);}
.intro article:nth-child(4n-1)  .pic{float: left;}
.pic p{text-align: center;margin: 0%;}
.pic::after{position: absolute;top: -5px;bottom: 22px;left: -5px;right: -5px;border-radius: calc(1vw + 1vh);
    z-index: -1;content: '';}
hr{height: calc(1vw + 1vh);margin: 16px;border: 0px;}
p{font-weight: normal;}

/*footer*/
footer{position: relative;top: 66px;height: 100px;}
/*color*/
body{background-color: #20323f;}
body,a{color: #e5eced;}
h1{border-color: #d79748;}
article h2{border-color: #e5eced;}
.pic::after{background: linear-gradient(143deg, #d79748 20%,#185f77 70%);}
footer{background-color: #185f77;}
/*#20323f #e5eced #d79748 #185f77*/