/*setting*/
::-webkit-scrollbar{display: none;}
a{ text-decoration: none; }
*{font-family: "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;}

/*main*/
h1{width: 100%;height: calc(3vw + 3vh); border-bottom: 5px solid;font-size: calc(2vw + 2vh);}
.me{position: absolute; height: calc(25vw + 25vh);}
.me img{height: 100%;
    border:10px groove;border-radius: calc(2vw + 2vh);}
/*color*/
body{background-color: #20323f; color: #e5eced;}
h1{border-color: #d79748;}
.me img{border-color: #185f77;}
/*#20323f #e5eced #d79748 #185f77*/