/*setting*/
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'ChenYuluoyan';
    src: local("ChenYuluoyan"), url(../font/ChenYuluoyan-Thin-Monospaced.ttf);
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

a {
    text-decoration: none;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    text-align: justify;
}

article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    position: relative;
    min-height: 400px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    clear: both;
}

header h1 a {
    font-family: "Microsoft JhengHei UI";
    font-weight: bolder;
}

/*header*/
h1 {
    margin-bottom: 0%;
}

/*aside*/
aside {
    position: absolute;
    top: 0px;
}

aside span {
    position: relative;
    top: 40px;
    margin: 5px;
    width: 50px;
    right: calc(150px - 100vw);
}

aside img {
    height: 40px;
    position: relative;
    right: calc(40px - 100vw);
    top: 25px;
}

/*nav*/
nav h3 {
    display: inline-flex;
    justify-content: center;
    justify-items: right;
    margin: 0;
}

@media screen and (max-aspect-ratio:1/1) {
    aside {
        display: none;
    }

    nav h3 {
        width: 25vw;
    }
}

@media screen and (min-aspect-ratio:1/1) {
    aside {
        display: initial;
    }

    nav h3 {
        width: 25vw;
    }
}

/*main*/
main {
    margin: 10px;
    position: relative;
}

body {
    margin: 0;
}

.welcome video {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.37;
}

@media screen and (max-height:56vw) {
    .welcome video {
        width: 100%;
    }
}

@media screen and (min-height:56vw) {
    .welcome video {
        height: 100%;
    }
}

main article h2 {
    position: relative;
    margin: 0%;
}

.pic {
    float: right;
    margin: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.pic img,
.pic video,
.pic iframe {
    width: 400px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin-top: 0;
}

.pic iframe,
.pic blockquote {
    height: 300px;
    width: 400px;
}

.pic p {
    text-align: center;
    margin: 5px 0 0 0;
    width: 100%;
    height: 26px;
    overflow: hidden;
    content: "";
    text-overflow: ellipsis;
}

main article p {
    margin-right: 420px;
}

hr {
    margin: 10px 0;
    border-width: 0px 0px 1px 0px;
    visibility: hidden;
    clear: both;
}

p {
    font-weight: bold;
}

li {
    font-weight: normal;
}

dd {
    font-weight: normal;
}

/*color*/
body {
    background-color: #313131;
}

h1 a,
body,
a,
.pic a,
nav a {
    color: #e3eff6;
}

nav h3:hover a {
    color: #007bff;
}

article a,
.highlight {
    color: #ff5733;
}

article h2,
hr {
    border-color: #e3eff6;
}

nav {
    background-color: #007bff;
}

nav h3:hover {
    background-color: black;
}