/*setting*/
::-webkit-scrollbar{display: none;}
a{ text-decoration: none; }
*{font-family: "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;}

/*header*/
h1{border-bottom: 5px solid;}

/*aside*/
aside{position: absolute;top: 0px;}
aside span{position: relative;top: 40px; margin: 5px;width: 50px;right: calc(200px - 100vw);}

/*main*/
article{position: relative;width: 45vw;display:block;}
article a img{position: relative;top: calc(1vw + 1vh); height: calc(2vw + 2vh);margin: 5px;}

/*color*/
body{background-color: #20323f;}
body,a{color: #e5eced;}
h1{border-color: #d79748;}
h1{color: #d79748;}
/*#20323f #e5eced #d79748 #185f77*/