/*setting*/
::-webkit-scrollbar{display: none;}
a{ text-decoration: none; }
*{font-family: "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;text-align: center;}
/*header*/
header{position: absolute;top: 0px; height: calc(5vw + 5vh);left: 0px;right: 0px;}
header h1{position: relative;top: 15px;}
/*main*/
article{position: relative;left: 12.5%;right: 12.5%;top: calc(5vw + 5vh);border: 5px solid;width: 75%;}
article h1{
    position: relative;top: 0px; text-align: center;border: 3px solid;width: 100%;left: -0.5%;
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', fantasy;
    font-size: calc(1.5vw + 1.5vh);
}
article h2{/*border: 5px solid;*/text-align: inherit;}
article section img{position: relative; margin: calc(1vh + 1vw);z-index: 1;}
@media screen and (max-height:56vw){
    article section img{width: 35vw;}
    @keyframes scalesIn{from{scale:1;}to{scale:2;}}
    @keyframes scalesOut{from{scale:2;}to{scale:1;}}
}
@media screen and (min-height:56vw){
    article section img{width: 90%;}
    @keyframes scalesIn{from{scale:1;}to{scale:1.48;}}
    @keyframes scalesOut{from{scale:1.48;}to{scale:1;}}
}
article section img:hover{animation-duration: 0.5s;animation-name: scalesIn;animation-fill-mode:forwards;}
article section img{animation-duration: 0.5s;animation-name: scalesOut;animation-fill-mode:forwards;}

/*page icon*/
.page img{position: fixed;top: 1vh;right: 1vw;height: 8vh;width: 8vh; z-index: 1;}
.page section{position: fixed;top: 9vh;right: 1vw;z-index: 1;width: calc(12% - 1vw);opacity: 0;}
.page:hover section{animation-duration: 0.5s;animation-name: fadeIn;animation-fill-mode:forwards;}
.page section{animation-duration: 0.5s;animation-name: fadeOut;animation-fill-mode:forwards;}
.page section a h1{position: relative; left: 1vw;}
@keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@keyframes fadeOut{from{opacity: 1;}to{opacity: 0;visibility: hidden;}}

/*color*/
h1{color: wheat;}
article h1{color: black;}
.page section{background-color:rgba(7,35,91,0.3)}
body{background-color: rgba(0, 0, 0, 1); color:wheat;}
article h3,article h1,article{border-color: wheat;}
article h1{background-color: wheat;}
article{background:linear-gradient(to bottom,#000000,#222222 30%,#000000 ) ;}
header{background: radial-gradient(#222222 ,#000000 80%);}
/*black #658DC6 #efd9c8 #0f4c81*/
/*#100c0d #013328 #efd9c8 #cc8b65*/
/*#191718 #0a62d0 #e0e5e9 #f3d849*/
/*#4a1d1d #0a62d0 #e0e5e9 #f3d849*/