::-webkit-scrollbar{display: none;}
a{ text-decoration: none; }
*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

article{position: relative;}
article h1{
    position: relative;top: 0px; text-align: center;border: 3px solid;width: 30%;left: 35%;border-radius: 50px;
}
article section img{position: relative; width:  calc(5vh + 5vw); height: calc(5vh + 5vw);margin: calc(1vh + 1vw);}

.welcome{position: absolute;left: 0px;right: 0px; top: 0px; overflow: hidden;}
.welcome img{position: absolute;bottom: 0px; width: 100%;}
@media screen and (max-height:56vw){
    .welcome{height: 100vh;}
    article{top:100vh;}
}
@media screen and (min-height:56vw){
    .welcome{height: 56vw;}
    article{top: 56vw;}
}

.page img{position: absolute;top: 1vh;right: 1vw;height: 8vh;width: 8vh; z-index: 6;}
.page section{position: absolute;top: 9vh;right: 1vw;z-index: 6;width: 20vh;visibility: hidden;}
.page:hover section{visibility: visible;}
.page section a h1{position: relative; left: 1vw;}

.page section a h1{color: antiquewhite;}
.page section{background-color:rgba(7,35,91,0.5)}
body{background-color: rgba(0, 0, 0, 1); color: antiquewhite;}
article h3{border-color: antiquewhite;}