/*------------------------------------------總設定------------------------------------------------------*/
*{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
::-webkit-scrollbar{ position: fixed;bottom: 0px;width: 10px; }
a{ text-decoration: none; }/*去除醜醜的底線*/
h1, h2, h3, p{ text-align: center; }
p{font-size: calc(1.25vh + 1.25vw);}
/*-------------------------------------------上方-------------------------------------------------------*/
header { position: fixed; top: 0px; left: 0px; right: 0px; height: 8vh; z-index: 5; }
header h1{ font-family:Impact;margin: 0px;font-size: 6vh;}
/*-------------------------------------------主頁內容----------------------------------------------------*/
main{ position: absolute; top: 8vh; left: 0px; right: 0px; z-index: 1; overflow-x: hidden;/*remove bottom scrollbar*/}
main iframe{z-index: 2; height: 600px; }
main h3{ position: relative; left: 10%; width: 80%; top: -20px; z-index: 2;
border-radius: 30px; font-size: calc(2vh + 2vw); }
main p{position: relative; top: 10px;}/*avoid overlapping*/
main article{
    position: relative;top: 0px; width: 80vw; left: 10vw;right: 10vw;margin-top: 100px;
    border-left: 10px solid; border-right: 10px solid; border-bottom: 20px groove; border-radius: 50px; 
}
main audio{position:relative;  left:10%; width: 80%;}
main section,main section img, main section iframe{ position: relative; width: 90%; left: 5%; }
main section img, main section iframe{top: 20px; border: 0ch; border-radius: 30px; }
/*------------------------------------------配色-----------------------------------------------------------*/
/*底色*/
*,main section a{background-color: #191718;}
/*頁首頁尾*/
header h1, header,
main h3,h3 a,
header ul,header li,
body::-webkit-scrollbar-thumb{background-color: #4a1d1d; }
main article,.subpage{border-color:#4a1d1d ;}
/*文字側欄*/
*{color: #e0e5e9;}
body::-webkit-scrollbar-track{background-color: #e0e5e9;}
body article p a{color: #f3d849;}
/*black #658DC6 #efd9c8 #0f4c81*/
/*#100c0d #013328 #efd9c8 #cc8b65*/
/*#191718 #0a62d0 #e0e5e9 #f3d849*/
/*#4a1d1d #0a62d0 #e0e5e9 #f3d849*/